*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    display:flex;
}

.cart-container{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    padding: 20px 20px;
    flex:6;
}

.checkout{
    flex:2;
    display:flex;
    flex-direction: column;
    margin:1rem 1rem;
    align-items:center;
}

.checkout>h1{
    text-transform: uppercase;
}

.checkout-total>h3{
    text-align: center;
    font-size: 2.5rem;

}

.checkout-total{
    width:100%;
    padding:1rem 1rem;
}

.checkout-total>table{
    /* margin:1rem 1rem; */
    padding: 2rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.single-product{
    display:flex;
    width:100%;
    align-items:center;
    box-shadow: 0 0 5px rgb(46, 39, 39);
    background-color: rgb(201, 183, 186);
}

.single-product img{
    width: 15vw;
    height: 40vh;
    object-fit: cover;
}

.product-img{
    margin:1rem 1rem;
}

.product-details{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 1rem 1rem;
}

.product-intro{
    text-align:center;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.price-details{
    font-weight: bold;
    padding: 1rem 1rem;
    font-size: 20px;
    flex:1;
    text-align:right;
}

.product-footer{
    display:flex;
    width: 100%;
    align-items:center;
}

/* 
.product-description{

} */

.mrp-price{
    text-decoration:line-through;
}

.remove-button{
    flex:1;
    margin:1rem 1rem;
}

.remove-button button{
    width: 20vw;
    height: 10vh;
    font-size: 1rem;
    cursor:pointer;
    border: 1px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight:600;
    color:white;
    background-color: rgb(108, 49, 110);
}

.total-amount{
    text-align:right;
    font-size:1.5rem;
    margin: 0 1rem;
    font-weight: 600;
}

#logo-img{
    width: 4rem;
}

.search-box{
    border: 1px solid black;
    padding : 0.5rem 1rem;
}

.search-box input[type=text]{
    border:none;
    outline:none;
}

.price-heading{
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
}

.checkout-footer{
    display:flex;
    justify-content: center;
}

.checkout-footer button{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(197, 30, 57);
    color:white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}